<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta lang="fr">
    <meta http-equiv="X-UA-Compatible" content="IE=Edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>PyCasino</title>

    <!-- Bootstrap core CSS -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">

    <link rel="stylesheet" href="{{ url_for('static', filename='./css/style.css') }}">
    <script type="text/javascript" src="{{ url_for('static', filename='js/script.js') }}"></script>
  </head>

  <body>
    <main role="main">
      <div class="wallet">
        <h4>Wallet : {{ session['wallet'] }}</h4>
        
        {% if 'bet' not in session %}
          <table>
            <thead>
                <tr>
                  <th colspan="2">Earnings</th>
                </tr>
            </thead>
            <tbody>
              <tr>
                <td>Quinte Flush Royal</td>
                <td>250</td>
              </tr>
              <tr>
                <td>Quinte Flush</td>
                <td>50</td>
              </tr>
              <tr>
                <td>Carre</td>
                <td>25</td>
              </tr>
              <tr>
                <td>Full</td>
                <td>9</td>
              </tr>
              <tr>
                <td>Flush</td>
                <td>6</td>
              </tr>
              <tr>
                <td>Quinte</td>
                <td>4</td>
              </tr>
              <tr>
                <td>Brelan</td>
                <td>3</td>
              </tr>
              <tr>
                <td>Double Paire</td>
                <td>2</td>
              </tr>
              <tr>
                <td>Paire</td>
                <td>1</td>
              </tr>
            </tbody>
          </table>
        {% endif %}  
          
        {% if 'bet' in session %}
          <table>
            <thead>
                <tr>
                    <th colspan="3">Earnings</th>
                </tr>
            </thead>
            <tbody>
              <tr>
                <td class="ttop" colspan="2"></td>
              </tr>
              <tr>
                <td>Quinte Flush Royal</td>
                <td>{{session['bet']*250}}</td>
              </tr>
              <tr>
                <td>Quinte Flush</td>
                <td>{{session['bet']*50}}</td>
              </tr>
              <tr>
                <td>Carre</td>
                <td>{{session['bet']*25}}</td>
              </tr>
              <tr>
                <td>Full</td>
                <td>{{session['bet']*9}}</td>
              </tr>
              <tr>
                  <td>Flush</td>
                  <td>{{session['bet']*6}}</td>
              </tr>
              <tr>
                <td>Quinte</td>
                <td>{{session['bet']*4}}</td>
              </tr>
              <tr>
                <td>Brelan</td>
                <td>{{session['bet']*3}}</td>
              </tr>
              <tr>
                <td>Double Paire</td>
                <td>{{session['bet']*2}}</td>
              </tr>
              <tr>
                <td>Paire</td>
                <td>{{session['bet']*1}}</td>
              </tr>
            </tbody>
        </table>
      {% endif %}
      </div>
      {% if 'bet' not in session %}
        <div class="cards">
          {% for card in range(5) %}
            <img class="playing_card" src="{{ url_for('static', filename='img/cards/back.jpg') }}" />
          {% endfor %}
        </div>
        <form action="/board" method="POST">
          <div class="form-group">
            <label for="bet">Bet</label>
            <input type="number" name="bet" id="bet" class="form-control"placeholder="Enter your bet" min=1 max='{{ session["wallet"] }}' autofocus required>
           </div>
           <button type="submit" class="btn btn-primary bottom-right">Submit</button>
        </form> 
      {% endif %}
      {% if 'bet' in request.form %}
      <form action="/board" method="POST">
        <div class="form-group">
          <input type='hidden' name='change_card' value='None' />
          <div class="cards">
            {% for card in session['card'] %}
              <input type="checkbox" id="{{card}}" name="c{{loop.index}}" class="checkbox"/>
              <label for="{{card}}">
                <img 
                  class="playing_card"
                  src="{{ url_for('static', filename='img/cards/'+card+'.jpg') }}"
                  data-card="{{card}}"
                  onclick="clickOnCardForReverse(this)" 
                />
              </label>
            {% endfor %}
          </div>
         </div>
         <button type="submit" class="btn btn-primary bottom-right">Submit</button>
          </form> 
      {% endif %}
      {% if 'change_card' in request.form %}
          <div class="cards">
            {% for card in session['card'] %}
              <img class="playing_card" src="{{ url_for('static', filename='img/cards/'+card+'.jpg') }}" />
            {% endfor %}
          </div>
          <div class="earn"><p>You have a {{ session['score_name'] }}</p></div>
          <form action="/board" method="POST">
             <button type="submit" name="replay" class="btn btn-primary bottom-left" autofocus>Continue</button>
          </form>
          <form action="/board" method="POST">
             <button type="submit" name="quit" class="btn btn-primary bottom-right">Quit</button>
          </form> 
      {% endif %}
    </main>
  
  </body>
</html>